.formConsulta{
    background-color: #ffe5f0;
    width: 540px;
    height: 510px;
}

.cardMedio{
    background-color: #ffe5f0;
    width: 180px;
    height: 180px;
    margin: 20px;
    text-align: center;
}

.cardMedio img{
    width: 90px;
    height: 90px;
    margin: 10px;
}