footer{
    background-color: #f5f5dc;
    border: 1px solid gray;
    div{
        nav{
            ul{
                li{
                    a{
                        text-decoration: none;
                        color: black;
                        &:hover{
                            background-color: grey;
                        }
                    }
                }
            }
        }
    }
}

.logoPie{
    width: 80px;
    height: 80px;
    border-radius: 4px;
    margin: 5px;
}


.conteiner-Foot{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 45px;
    align-items: flex-start;
}

.colFoot{
    width: 370px;
    margin: 0.75rem;
    padding: 0.3rem;
}
.titFoot{
    font-size: 0.75rem;
    font-weight: bold;
}
.lettFoot{
    font-size: 0.7rem;
}

.social{
    display: flex;
    flex-flow: row nowrap;
    height: fit-content;
    gap: 10px;
    img{
        width: 0.9rem;
        height: 0.9rem;
    }
    .lettFoot{
        margin-bottom: 0;
    }
}

@media screen and (min-width:576px) {
    .colFoot{
        width: max-content;
        margin: 0.9rem;
        padding: 0.4rem;
    }
    .titFoot{
        font-size: 1rem;
        font-weight: bold;
    }
    .lettFoot{
        font-size: 0.9rem;
    }
    
    .social{
        display: flex;
        flex-flow: row nowrap;
        height: fit-content;
        gap: 10px;
        img{
            width: 1rem;
            height: 1rem;
        }
    }
}

@media screen and (min-width:768px) {
    .colFoot{
        width: max-content;
        margin: 0.9rem;
        padding: 0.4rem;
    }
    .titFoot{
        font-size: 1rem;
        font-weight: bold;
    }
    .lettFoot{
        font-size: 0.9rem;
    }
    
    .social{
        display: flex;
        flex-flow: row nowrap;
        height: fit-content;
        gap: 10px;
        img{
            width: 1rem;
            height: 1rem;
        }
    }
}