.artUs{
    background-color: #ffe5f0;
    width: 575px;
    height: 700px;
    border: 1px solid lightgray;
}

.artUs h2{
    text-align: center;
    font-size: 20px;
    margin: 5px;
    padding: 3px;
}

.artUs img{
    width: 400px;
    height: 400px;
    margin: 10px;
    padding: 20px;
}

.artUs p{
    font-size: 14px;
    width: 400px;
    text-align: justify;
    margin: 15px 25px 15px 25px;
}