.artPublic{
    background-color: #ffe5f0;
    width: 260px;
    height: 260px;
    border: 1px solid lightgray;
}

.artPublic h3{
    text-align: center;
}

.artPublic img{
    width: 220px;
    height: 180px;
}